<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spyrit</title>
</head>
<body>
  <div id="app" style="text-align:center;">
    <img src="<%- bot.displayAvatarURL({ format:"png" }) %>" style="border-radius: 30%;width:30vh"/>
    <h1 style="font-size: 4vh">Spyrit</h1>
    <div id="buttons">
      <a href="/botlist" style="text-transformation:none;"><button style="width:15vh;height:5vh;border-radius:3px;font-size:2vh">Simo's BotList</button></a>
      <a href="/invite" style="text-transformation:none;"><button style="width:15vh;height:5vh;border-radius:3px;font-size:2vh">Adicionar</button></a>
      <a href="/daily" style="text-transformation:none;"><button style="width:15vh;height:5vh;border-radius:3px;font-size:2vh">Daily</button></a><br>
           <a href="/github" style="text-transformation:none;"><button style="width:15vh;height:5vh;border-radius:3px;font-size:2vh">Github</button></a>
           <a href="/discord" style="text-transformation:none;"><button style="width:15vh;height:5vh;border-radius:3px;font-size:2vh">Suporte</button></a>
           
    </div>
  </div>
</body>
</html>